@page "/"
@using Wex1.Elephant.Liveviewer.Model
@using Wex1.Elephant.Liveviewer.Component
@inject IJSRuntime jsRuntime;


<title>Logger</title>
<div style="margin-bottom: 50px;">
    <SessionLogsList/>
</div>




@code{
 


}