@using Wex1.Elephant.Liveviewer.Model
@using Wex1.Elephant.Liveviewer.Services
@using Wex1.Elephant.Liveviewer.Services.Interfaces



<h3>Action Logs</h3>
@if (ActionLogs != null)
{
    <LogList TModel="ActionLog" Logs="ActionLogs" />
}
else
{
    <p>No action logs found.</p>
}

@code {
    private ActionLog[] ActionLogs;

   
    private int pageNumber;
    private int pageSize;

    [Inject]
    private IApiActionLogProvider _actionLogProvider { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await FetchActionLogs();
    }

    private async Task FetchActionLogs()
    {
        var actionLogs = await _actionLogProvider.GetAll(pageNumber, pageSize);
        ActionLogs = actionLogs.ToArray();
    }
}
