@using Wex1.Elephant.Liveviewer.Model
@using Wex1.Elephant.Liveviewer.Services
@using Wex1.Elephant.Liveviewer.Services.Interfaces



<h3>Error Logs</h3>
@if (ErrorLogs != null)
{
    <LogList TModel="ErrorLog" Logs="ErrorLogs" />
}
else
{
    <p>No error logs found.</p>
}

@code {
    private ErrorLog[] ErrorLogs;
    private int pageNumber;
    private int pageSize;

    [Inject]
    private IApiErrorLogProvider _errorLogProvider { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await FetchErrorLogs();
    }

    private async Task FetchErrorLogs()
    {
        var errorLogs = await _errorLogProvider.GetAll(pageNumber, pageSize);
        ErrorLogs = errorLogs.ToArray();
    }
}


