

<h3>SessionLogs</h3>

@if (_logs.Any())
{
    <LogList 
        TModel="Baselog"
        Logs="_logs.ToArray()"
        ShowType=true/>
}
else
{
    <div class="alert alert-danger">
        <p>There are currently no logs!</p>
    </div>
}

