@using Wex1.Elephant.Liveviewer.Model
@using Wex1.Elephant.Liveviewer.Services.Interfaces
@using Wex1.Elephant.Liveviewer.Services


<h3>Speed Logs</h3>
@if (IsError)
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}
else
{
    @if (SpeedLogs != null)
    {
        <LogList TModel="SpeedLog" Logs="SpeedLogs" />
    }
    else
    {
        <p>No speed logs found.</p>
    }
}

@code {
    private SpeedLog[] SpeedLogs;
    private string ErrorMessage;
    private bool IsError;

    private int pageNumber;
    private int pageSize;

    [Inject]
    private IApiSpeedLogProvider _speedLogProvider { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await FetchSpeedLogs();
    }

    private async Task FetchSpeedLogs()
    {
        try
        {
            IsError = false;
            var speedLogs = await _speedLogProvider.GetAll(pageNumber, pageSize);
            SpeedLogs = speedLogs.ToArray();
        }
        catch (Exception ex)
        {
            IsError = true;

            ErrorMessage = $"Speedlogs could not be shown due to an error: \n {ex.Message}";

        }
    }
}
