@using Wex1.Elephant.Liveviewer.Model
@using Wex1.Elephant.Liveviewer.Services.Interfaces
@using Wex1.Elephant.Liveviewer.Services


<h3>Speed Logs</h3>
@if (SpeedLogs != null)
{
    <LogList TModel="SpeedLog" Logs="SpeedLogs" />
}
else
{
    <p>No speed logs found.</p>
}

@code {
    private SpeedLog[] SpeedLogs;


    private int pageNumber;
    private int pageSize;

    [Inject]
    private IApiSpeedLogProvider _speedLogProvider { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await FetchSpeedLogs();
    }

    private async Task FetchSpeedLogs()
    {
        var speedLogs = await _speedLogProvider.GetAll(pageNumber, pageSize);
        SpeedLogs = speedLogs.ToArray();
    }
}
