@using Wex1.Elephant.Liveviewer.Model
@using Wex1.Elephant.Liveviewer.Services
@using Wex1.Elephant.Liveviewer.Services.Interfaces

<Pagination ActivePageNumber="@currentPageNumber"
            TotalPages="@totalPages"
            FirstLinkIcon="IconName.ChevronDoubleLeft"
            PreviousLinkIcon="IconName.ChevronLeft"
            NextLinkIcon="IconName.ChevronRight"
            LastLinkIcon="IconName.ChevronDoubleRight"
            PageChanged="HandlePageChangeAsync"/>

<h3>Error Logs</h3>
@if (IsError)
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}
else{
@if (ErrorLogs != null)
{
    <LogList TModel="ErrorLog" Logs="ErrorLogs" />
}
else
{
    <p>No error logs found.</p>
}
}



