@using Wex1.Elephant.Liveviewer.Model
@using Wex1.Elephant.Liveviewer.Services
@using Wex1.Elephant.Liveviewer.Services.Mock
@inject ErrorLogService LogService

<h3>Error Logs</h3>
@if (ErrorLogs != null)
{
    <LogList TModel="ErrorLog" Logs="ErrorLogs" />
    
}
else
{
    <p>No error logs found.</p>
}

@code {
    private ErrorLog[] ErrorLogs;

    protected override async Task OnInitializedAsync()
    {
        var logs = await LogService.GetAll();
        ErrorLogs = logs.ToArray();
    }
}

