@using Wex1.Elephant.Liveviewer.Model
@using Wex1.Elephant.Liveviewer.Services.Interfaces
@using Wex1.Elephant.Liveviewer.Services

<DateInput TValue="DateOnly?"
           Value="selectedDate"
           ValueExpression="() => selectedDate"
           ValueChanged="(value) => HandleDateChangeAsync(value)"
           EnableMinMax="true"
           Min="@minDate"
           Max="@maxDate"
           Placeholder="Enter Date" />
<select @onchange="HandleSortDirectionChange">
    <option value="false">Oldest</option>
    <option value="true" selected>Newest</option>
</select>

<h3>Speed Logs</h3>
@if (IsError)
{
    
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}
else
{
    @if (SpeedLogs != null)
    {
        <Pagination ActivePageNumber="@currentPageNumber"
                TotalPages="@totalPages"
                DisplayPages="8"
                FirstLinkIcon="IconName.ChevronDoubleLeft"
                PreviousLinkIcon="IconName.ChevronLeft"
                NextLinkIcon="IconName.ChevronRight"
                LastLinkIcon="IconName.ChevronDoubleRight"
                PageChanged="HandlePageChangeAsync" />
        <LogList TModel="SpeedLog" Logs="SpeedLogs" ShowDetailsBtn=true />
    }
    else
    {
        <LoadingScreen />
    }
}

